// this contains variables for colors, height, border-radius, mixins, font-sizes, etc

$primary-color:#1a2456;

$accent-orange:#ff8b68;

$secondary-color:#ff501c;

$white-grey:#f0efed;

$black:#080b1b;

